nav {
  color: white;
  background-color: #00050d;
  height: 66px;
  width: 100vw;
}
.desktop-nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.left-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  flex-shrink:0;
}
.right-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  flex-shrink: 0;
}
.nav-logo {
  height: 18px;
  padding: 0;
}
.icon {
  height: 20px;
  width: 20px;
}
.divider {
  height: 24px;
  width: 2px;
  background-color: rgb(80, 70, 70);
}
.nav-links {
  font-size: 16px;
  padding: 12px 14px;
  background-color: #00050d;
  border-radius: 8px;
  transition:background-color,color, ease-in 100ms;
}
.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.subscription {
  font-size: 18px;
  padding: 12px 14px;
  background-color: #101216;
  border-radius: 8px;
  transition: filter ease-in 100ms;
}
.subscription:hover {
  filter: invert();
}

.nav-links:hover {
  background-color: rgb(220, 220, 220);
  color: black;
  border-radius: 8px;
}
.profile-icon {
  width: 30px;
}
.join-button {
  background-color: rgb(1, 153, 255);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 14px;
  border-radius: 8px;
  opacity: 0.9;
}
.join-button:hover {
  background-color: rgb(0, 145, 255);
  opacity: 1;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00050d;
  border-radius: 50px;
}
.search-icon:hover {
  filter: invert();
}
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 50px;
}
.profile-image:hover {
  background-color: rgb(220, 220, 220);
}
.tablet-nav{
  display: none;
  justify-content: space-around;
  align-items: center;
}
.tablet-nav ul{
  list-style: none;
}
.tablet-right-nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.tablet-left-nav-links{
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0;
  margin: 0;
}
.mobile-nav{
  display: none;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 1056px) {
  .desktop-nav {
    display: none;
  }
  .tablet-nav {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .tablet-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  #hero {
    height: 60vh;
    color: white;
  }
  .bacground-img1 img{
    height: 450px;
    position: absolute;
    right: 5px;
    z-index: -1;
  }
  .details-conatiner {
    z-index: 100;
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .title{
    font-size: 2rem;
  }
  .discription {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .btn{
    background-color: white;
    color: black;
    padding: 16px 25%;
    border: none;
    font-size: 1rem;
  }  
  .image-grid-conatiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .image-grid{
    width: 80%;
    margin: 3px;
    border-radius: 10px;
  }
  .image-grid:hover{
    width: 152px;
  }
  #subscription{
    margin-top: 150px;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .subscription-details{
    width: 100%;
    padding: 0;
  }
}

