@import url("https://fonts.cdnfonts.com/css/amazon-ember");

body {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 5, 13);
}

#hero {
  width: 100vw;
  height: 80vh;
  color: white;
}
.bacground-img1 img{
  position: absolute;
  right: 5px;
  z-index: -1;
}
#hero2{
  height: 100vh;
}
.bacground-img2 img{
  position: absolute;
  right: 0;
  z-index: -1;
}
.details-conatiner {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: 90vh;
  text-align: left;
  padding-left: 70px;
  padding-top: 50px;
  background-color: black;
  box-shadow: 10px 10px 10px black;
  color: white;
}
.title {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 15px;
}

.discription {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

 .btn{
  background-color: white;
  color: black;
  padding: 16px 24px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-conatiner .btn:hover {
  background-color: #d1d1d1;
}
#subscription {
  margin-top: 150px;
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.image-grid-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 50%;
}
.image-grid{
  width:30% ;
  border-radius: 10px;
}
.image-grid:hover {
 box-shadow: 6px 6px 10px rgb(0, 145, 255);
}
.subscription-details {
  width: 45%;
  padding-top: 50px;
  padding-left: 40px;
}

.subscription-details p {
  color: white;
}

footer{
  height:20vh;
  width: 100vw;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#222222;
}
.footer-links{
  list-style: none;
  color: #79b8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  transition: color ease-in 300ms;
  cursor: pointer;
}
.footer-links li:hover{
  color: #48a6ff;
}
.copyright{
  color: #8197a4;
}